<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="/src/assets/font.scss" rel="stylesheet">
<!--  <style>-->
<!--    .navbar-nav a {-->
<!--      font-family: 'IranSans', sans-serif;-->
<!--    }-->
<!--  </style>-->
</head>
<body>
<section class="head">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://example.com">
      <img routerLink="" class="img-fluid img" src="./assets/Images/logo.png" alt="Alternate Text" />
       </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://hyperfamili.com">صفحه رسمی هایپرفامیلی</a>
        <a class="nav-item nav-link" href="https://hyperfamili.com/about-us/">درباره ما</a>
        <a class="nav-item nav-link" href="https://hyperfamili.com/news/">اخبار و مطالب</a>
        <a class="nav-item nav-link" href="https://hyperfamili.com/news/">فروشگاه ها</a>
      </div>
    </div>
  </nav>
</section>
</body>
</html>
