<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    @font-face {
      font-family: 'IranSans';
      src: url("/src/assets/font.scss");
      src: url("/src/assets/font.scss") format('embedded-opentype'),
      url("/src/assets/font.scss") format('woff2'),
      url("/src/assets/font.scss") format('woff'),
      url("/src/assets/font.scss") format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    body {
      font-family: 'IranSans', sans-serif;
    }
  </style>
</head>
<body>
<div class="container page">
  <div class="row top-page">
    <div class="col-xl-4 col-lg-4 col-sm-12 col-md-12">
      <img class="img-fluid imagepo" src="./assets/Images/banner.png" alt="banner" />
    </div>
    <div class="col-xl-8 col-lg-8 col-sm-12 col-md-12">
      <p class="home">
        لیست تراکنش‌ها مجموعه‌ای از رکوردها و اطلاعات است که جزئیات مربوط به تمام تراکنش‌های انجام شده توسط یک حساب بانکی یا کارت اعتباری را شامل می‌شود. این لیست شامل موارد زیر است:
        <br>
        تاریخ و زمان تراکنش: لیست تراکنش‌ها اطلاعاتی درباره زمان و تاریخ انجام هر تراکنش را فراهم می‌کند. این اطلاعات می‌تواند برای ردیابی و مدیریت هزینه‌ها و درآمدها مفید باشد.
        <br>
        نوع تراکنش: لیست تراکنش‌ها نوع تراکنش را مشخص می‌کند. برخی از نمونه‌های نوع تراکنش شامل خریدها، واریز وجه، برداشت نقدی، پرداخت قبض و تراکنش‌های بانکی می‌شود.
        <br>
        مبلغ تراکنش: لیست تراکنش‌ها میزان پولی را که در هر تراکنش استفاده شده است نشان می‌دهد. این اطلاعات می‌تواند برای مدیریت مالی و بررسی هزینه‌ها و درآمدها مفید باشد.
        <br>
        جزئیات تراکنش: لیست تراکنش‌ها ممکن است شامل جزئیات بیشتری درباره تراکنش مانند محل انجام تراکنش، نام فروشنده یا شماره حساب مقصد باشد. این اطلاعات می‌تواند برای ردیابی و بررسی تراکنش‌ها مفید باشد.
      </p>
      <br>
      <div class="row" id="ads">
        <!-- Category Card -->
      </div>
      <p class="click-instruction"> کاربر گرامی لطفاً جهت مشاهده ریز تراکنش‌های کوروش کارت کلیک نمایید</p>
      <div class="center-button">
        <button routerLink="/TransactionList" class="hover-button">ریزتراکنش های کوروش کارت</button>
      </div>

    </div>
    <div class=" ">
      <div class="contain">

        <div class="col">
          <img class="image-icon" src="../../../assets/Images/tran-1.gif" />

        </div>
        <div class="col">
          <img class="image-icon" src="../../../assets/Images/tran-2.gif" />

        </div>
        <div class="col ">

          <img class="image-icon" src="../../../assets/Images/tran-3.gif" />

        </div>
        <div class="clearfix">

        </div>
      </div>
    </div>
  </div>
</div>
