<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    @font-face {
      font-family: 'IranSans';
      src: url("/src/assets/font.scss");
      src: url("/src/assets/font.scss") format('embedded-opentype'),
      url("/src/assets/font.scss") format('woff2'),
      url("/src/assets/font.scss") format('woff'),
      url("/src/assets/font.scss") format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    body {
      font-family: 'IranSans', sans-serif;
    }
  </style>
</head>
<body>
<footer>
  <div class="footer mobile-hidden">
    <div class="contain">

      <div class="col">
        <h2 class="txt">دسترسی سریع</h2>
        <ul>
          <a href="https://hyperfamili.com/">
          <li class="txt">صفحه اصلی</li>
          </a>
          <a href="https://hyperfamili.com/shop-locations/">
          <li class="txt">آدرس فروشگاه ها</li>
          </a>
          <a href="https://hyperfamili.com/faq/">
          <li class="txt">سوالات متداول</li>
          </a>
        </ul>
      </div>
      <div class="col">
        <h2 class="txt" >تماس باما</h2>
        <ul>
          <li class="txt">تهران - خیابان ولیعصر - اول پارک ساعی - نبش کوچه اسعدی - پلاک ۴۲ - کد پستی ۱۵۱۱۸۴۳۵۱۴</li>
          <li>۰۲۱-۴۵۶۲۷۰۰۰</li>
          <li>info@HyperFamili.com</li>
          <a href="https://www.aparat.com/hyperfamili/%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87%20%D9%87%D8%A7%DB%8C%20%D8%B2%D9%86%D8%AC%DB%8C%D8%B1%D9%87%20%D8%A7%DB%8C%20%D9%81%D8%A7%D9%85%DB%8C%D9%84%DB%8C">
            <img class="iconfoo" src="../../../assets/Images/aparat.png" height="30" width="30"/>
          </a>
          <a href="https://twitter.com/hyperfamili">
            <img class="iconfoo" src="../../../assets/Images/Twitter.png" height="30" width="30"/>
          </a>
          <a href="https://t.me/hyperfamili">
            <img class="iconfoo" src="../../../assets/Images/telegram.png" height="30" width="30"/>
          </a>
          <a href="http://linkedin.com/company/hfamili">
            <img class="iconfoo" src="../../../assets/Images/linkdin.png" height="30" width="30"/>
          </a>
       </ul>
    </div>

      <div class="col ">
        <h2 class="txt">آدرس</h2>
        <ul>
          <li class="txt">شـــرکت فروشگاه‌های زنجیره ای فامیلی متعلق به گروه صنعتی گلرنگ از ســال ۱۳۹۶ فعـالیت خود را در عرصه خرده فروشی کشور در سطح فروشگاه‌های هایپر مارکت آغاز نمود. هایپر فامیلی با اتکا به پتانسیل بـالای گروه صنعتی گلرنگ، توان و تخصص مدیران جوان و تلاش و تعهد همه همکاران خود تصمیم دارد فروشگاهی کامل و محبوب بـــرای تامین نیازهای مردم عزیز باشد. هایپرفامیلی در حال حاضر در اکثر استان ها و شهر های ایران دارای شعب متعددی می باشد.</li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</footer>
